[submodule "vim/pack/plugins/start/typst.vim"]
	path = vim/pack/plugins/start/typst.vim
	url = https://github.com/kaarmu/typst.vim
[submodule "vim/pack/plugins/start/vim-easymotion"]
	path = vim/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/pack/colors/start/gruvbox8"]
	path = vim/pack/colors/start/gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8
[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
